/* Navigation menu */
nav {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  border-bottom: 4px solid var(--color-light);
  box-shadow: 0 4px 8px var(--color-card-shadow);
  backdrop-filter: blur(30px);
  z-index: 97;
}

nav ul {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 60px;
  padding-left: 20px;
  list-style-type: none;
  font-size: 1.7rem;
  z-index: 98;
}

nav ul.active {
  opacity: 1;
  pointer-events: auto;
}

nav a:hover {
  color: var(--color-accent);
  transition: 0.4s;
}

.hamburgerIconBackground {
  display: flex;
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 2.1rem;
  left: 3.2rem;
  width: 36px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.4s ease;
  background: none;
  border: none;
  z-index: 99;
}

.hamburgerIcon:hover .bar {
  background: var(--color-accent);
}

.bar {
  width: 100%;
  height: 6px;
  background: var(--color-outline-text);
  border-radius: 2px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 100;
}

.hamburgerIcon.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(16.5px);
  background: var(--color-outline-text);
}

.hamburgerIcon.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerIcon.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-16.5px);
  background: var(--color-outline-text);
}

.hamburgerIcon.active:hover .bar:nth-child(1) {
  background: var(--color-accent);
}

.hamburgerIcon.active:hover .bar:nth-child(3) {
  background: var(--color-accent);
}

/* Light and dark mode */
.themeToggle {
  margin: 0 2rem;
  padding: 0.2rem 0.2rem;
  color: var(--color-outline-text);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  background-color: transparent;
}

.themeToggle:hover {
  color: var(--color-accent);
  transition: 0.4s;
}

.themeIcon {
  display: flex;
  margin: 0 2rem;
}

.themeIcon svg {
  width: 42px;
  height: 42px;
}

.socialMediaGrid svg:hover {
  fill: var(--color-accent);
  transition: 0.4s;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  max-width: 80vw;
}

/* Link Styling */
a {
  color: var(--color-outline-text);
  border: none;
  outline: none;
  text-decoration: none;
}

hr {
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--color-accent);
}

/* Section styling */
section {
  min-height: 100vh;
  max-width: 87vw;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: var(--color-outline-text);
  z-index: 1;
}

section h1 {
  font-size: 3.2rem;
  margin-top: 8rem;
}

section h2 {
  font-size: 2rem;
  text-decoration: underline;
}

section h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}

section h4 {
  font-size: 1.3rem;
  font-weight: lighter;
}

section h5 {
  font-size: 1rem;
  font-weight: lighter;
}

section h6 {
  font-size: 1.1rem;
  font-weight: lighter;
  text-align: center;
  margin: 0;
}

section p {
  text-align: justify;
  font-size: 1.2rem;
  margin: 0;
}

section ul {
  text-align: justify;
  line-height: 1.4;
  padding: 0 50px 0 60px;
}

section h1.homePageIntroduction {
  font-family: Coiny, Arial, sans-serif;
  font-size: 4.4rem;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 0;
}

section p.professionalSummaryStyling {
  text-align: justify;
}

section p.homePageIntroduction {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--color-outline-text);
  padding: 30px 0;
}

/* Ocean container. */
.oceanContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: none;
}

/* Social media icons */
.socialMediaGrid {
  display: flex;
  gap: 1.5rem;
  margin: 10px;
}

.socialMediaGrid svg {
  width: 42px;
  height: 42px;
}

.socialMediaGrid svg:hover {
  fill: var(--color-accent);
  transition: 0.4s;
}

/* Portfolio styling */
.portfolioGrid {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 80vw;
  margin: 0;
}

.portfolioCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 300px;
  border: 2px solid var(--color-outline-text);
  border-radius: 4px;
  cursor: pointer;
  background: var(--color-card-bg);
  box-shadow: 0 4px 8px var(--color-card-shadow);
  backdrop-filter: blur(2px);
  object-fit: cover;
}

.cardImage {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-bottom: 2px solid var(--color-outline-text);
}

.cardImage img {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.portfolioDescription {
  padding: 0;
  text-align: justify;
}

.technology {
  text-align: center;
}

.portfolioCardContainer:hover {
  color: var(--color-outline-text);
  background: var(--color-card-hover);
  border: 2px solid var(--color-outline-text);
  box-shadow: 4px 4px 10px 0 var(--color-card-shadow-hover);
  transition: 0.2s;
  transform: scale(1.01);
  backdrop-filter: none;
}

.portfolioCardContainer a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* Portfolio Website */
.portfolioCardContainer:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row-start: 1;
}
/* Library Management System */
.portfolioCardContainer:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row-start: 2;
}

/* Native Comments */
.portfolioCardContainer:nth-child(3) {
  grid-column-start: 3;
  grid-row-start: 1;
}

/* Future project */
.portfolioCardContainer:nth-child(4) {
  grid-column-start: 1;
  grid-row-start: 2;
}

.portfolioLink {
  text-decoration-line: underline;
}

.portfolioLink:hover {
  text-decoration-color: var(--color-accent);
  color: var(--color-accent);
}

/* Resume styling */
.resumeGrid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 80vw;
  margin: 0;
}

.resumeCardContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  padding: 40px 60px;
  border: 2px solid var(--color-outline-text);
  border-radius: 4px;
  backdrop-filter: blur(2px);
  background: var(--color-card-bg);
  box-shadow: 0 4px 8px var(--color-card-shadow);
}

.workExperienceCardContainer {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  justify-content: center;
}

.educationCardContainer {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  justify-content: center;
}

.technicalCardContainer {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
}

.skillHighlight {
  cursor: pointer;
}

.skillHighlight:hover {
  text-decoration-color: var(--color-accent);
  color: var(--color-accent);
}

/* Professional Summary */
.resumeCardContainer:nth-child(1) {
  grid-column: 1 / span 5;
  grid-row-start: 1;
}

/* Work Experience */
.resumeCardContainer:nth-child(2) {
  grid-column: 1 / span 5;
  grid-row: 2 / span 2;
}

/* Qualifications */
.resumeCardContainer:nth-child(3) {
  grid-column: 1 / span 5;
  grid-row-start: 4;
}

/* Technical Skills */
.resumeCardContainer:nth-child(4) {
  grid-column: 1 / span 5;
  grid-row: 5;
}

.mobileGridTemplate {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.mobileGridTemplate hr {
  display: none;
}

.mobileGridCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 1.5rem;
  border: 2px solid var(--color-accent);
  border-radius: 4px;
}

.mobileGridCardContainer ul.smallCardContainer {
  margin: 0 auto;
}

ul.smallCardContainer {
  width: 80%;
  margin: 14px auto;
  padding: 0;
  display: flex;
  gap: 4px;
  flex-direction: column;
  text-align: left;
}

/* Styling for footer area at bottom of webpage */
.coralBackground {
  position: relative;
  width: 100vw;
  height: 160px;
  overflow: hidden;
}

.coralBackground img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.coralBackground img.crab {
  z-index: 10;
  top: 30%;
  left: 10%;
  width: 100px;
}

.coralBackground img.seaweed {
  z-index: 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile friendly set up for smaller phones like iPhone SE and Samsumg Galaxy S8+*/
@media (max-width: 400px) {
  nav {
    height: 76px;
    padding-left: 68px;
    z-index: 101;
  }

  nav ul {
    gap: 24px;
    padding-left: 4px;
    font-size: 1.3rem;
    z-index: 102;
  }

  .hamburgerIcon {
    top: 1.5rem;
    left: 1.7rem;
    width: 28px;
    height: 22px;
    z-index: 103;
  }

  .hamburgerIcon.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11.3px);
  }

  .hamburgerIcon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11.3px);
  }

  .themeIcon {
    margin: 0 1rem;
  }

  .themeIcon svg {
    width: 32px;
    height: 32px;
  }

  section h1 {
    font-size: 2.5rem;
    margin-top: 6.8rem;
  }

  #home {
    gap: 1.8rem;
    padding-top: 3.9rem;
  }

  #home p br {
    display: none;
  }

  section h1.homePageIntroduction {
    font-size: 2.8rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
  }

  section p.homePageIntroduction {
    text-align: center;
    hyphens: none;
    font-size: 1.2rem;
  }

  section p.professionalSummaryStyling {
    text-align: justify;
    hyphens: auto;
  }

  section p {
    text-align: justify;
    hyphens: auto;
    padding: 0;
  }

  section ul {
    text-align: left;
    line-height: 1.2;
    padding: 0 8px 0 18px;
  }

  /* Social media icons */
  .socialMediaGrid {
    gap: 1rem;
  }

  .socialMediaGrid svg {
    width: 34px;
    height: 34px;
  }

  /* Portfolio Styling */
  .portfolioGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 30%;
  }

  /* Resume Styling */
  .resumeGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 30%;
  }
  .resumeCardContainer {
    padding: 40px 20px;
  }
  .mobileGridTemplate {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .mobileGridCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
  }

  .mobileGridCardContainer ul.smallCardContainer {
    margin: 0 auto;
  }
}

/* Mobile friendly set up */
@media (min-width: 401px) and (max-width: 746px) {
  nav {
    height: 80px;
    padding-left: 70px;
    z-index: 101;
  }

  nav ul {
    gap: 30px;
    padding-left: 16px;
    font-size: 1.4rem;
    z-index: 102;
  }

  .hamburgerIcon {
    top: 1.5rem;
    left: 2rem;
    width: 32px;
    height: 26px;
    z-index: 103;
  }

  .hamburgerIcon.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(14px);
  }

  .hamburgerIcon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-14px);
  }

  .themeIcon {
    margin: 0 1.2rem;
  }

  .themeIcon svg {
    width: 36px;
    height: 36px;
  }
  section h1 {
    font-size: 2.6rem;
    margin-top: 7rem;
  }

  #home {
    gap: 1.9rem;
    padding-top: 4rem;
  }

  #home p br {
    display: none;
  }

  section h1.homePageIntroduction {
    font-size: 3.3rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
  }

  section p {
    text-align: justify;
    padding: 0;
  }

  section ul {
    text-align: justify;

    line-height: 1.2;
    padding: 0 20px 0 30px;
  }

  section p.homePageIntroduction {
    font-size: 1.2rem;
  }

  section p.professionalSummaryStyling {
    text-align: justify;
  }

  /* Social media icons */
  .socialMediaGrid {
    gap: 1.1rem;
  }

  .socialMediaGrid svg {
    width: 38px;
    height: 38px;
  }

  /* Portfolio Styling */
  .portfolioGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 30%;
  }

  /* Resume Styling */
  .resumeGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 30%;
  }

  .resumeCardContainer {
    padding: 40px 30px;
  }

  .mobileGridTemplate {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .mobileGridCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
  }

  .mobileGridCardContainer ul.smallCardContainer {
    margin: 0 auto;
  }
}

/* Tablet | iPad friendly set up */
@media (min-width: 747px) and (max-width: 1200px) {
  nav {
    height: 92px;
    padding-left: 90px;
    z-index: 101;
  }

  nav ul {
    gap: 40px;
    padding-left: 18px;
    font-size: 1.5rem;
    z-index: 102;
  }

  .hamburgerIcon {
    top: 1.9rem;
    left: 2.3rem;
    width: 36px;
    height: 28px;
    z-index: 103;
  }

  .hamburgerIcon.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(15.4px);
  }

  .hamburgerIcon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-15.4px);
  }

  section h1 {
    margin-top: 7.6rem;
  }

  #home {
    gap: 2rem;
    padding-top: 4rem;
  }

  #home p br {
    display: none;
  }

  section p {
    padding: 0;
  }

  section ul {
    line-height: 1.2;
    padding: 0 30px 0 40px;
  }

  section h1.homePageIntroduction {
    font-size: 3.9rem;
    letter-spacing: 1.5px;
  }

  section p.professionalSummaryStyling {
    text-align: justify;
  }

  /* Social media icons */
  .socialMediaGrid {
    gap: 1.3rem;
  }

  .socialMediaGrid svg {
    width: 40px;
    height: 40px;
  }

  .largeCardContainer li {
    font-size: 1.2rem;
    padding-left: 5px;
  }

  /* Portfolio styling */
  .portfolioGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 30%;
  }

  /* Resume Styling */
  .resumeGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 30%;
  }

  .resumeCardContainer {
    padding: 40px 40px;
  }

  .mobileGridTemplate {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .mobileGridTemplate hr {
    display: none;
  }

  .mobileGridCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 1.5rem;
    border: 2px solid var(--color-accent);
    border-radius: 4px;
  }

  .mobileGridCardContainer ul.smallCardContainer {
    margin: 0 auto;
  }
}

/* Wide screen styling for desktops larger than 27" */

@media (min-width: 2560px) {
  /* Resume styling */
  .resumeGrid {
    max-width: 58vw;
  }

  /* Portfolio styling */
  .portfolioGrid {
    max-width: 58vw;
  }

  #home {
    max-width: 58vw;
  }
}
